.card {
  height: 50rem;
  border-radius: 5px;
  perspective: 150rem;

  &--front {
    transition: all 0.8s;
    height: 100%;
    background-color: orangered;
  }
  &--back {
    background-color: green;
  }

  &:hover &--front:hover {
    transform: rotateY(180deg);
  }
}
