@keyframes moveInLeft {
  0% {
    opacity: 0;
    /*move to left*/
    transform: translateX(-10rem);
  }
  80% {
    /*move to right*/
    transform: translateX(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    /*move to right*/
    transform: translateX(10rem);
  }
  80% {
    /*move to left*/
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    /*move to right*/
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
